{#<nav class="navbar navbar-expand-md navbar-dark mb-4 bg-dark">#}
{#  <a class="navbar-brand" href="#">CRM</a>#}
{#  <div class="collapse navbar-collapse" id="navbarCollapse">#}
{#    <ul class="navbar-nav mr-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="/crm/home">首页 <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/crm/orderlist">订单查询</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/crm/createorder">订单创建</a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}
{#<nav class="navbar navbar-expand-lg navbar-light bg-light rounded fixed-top col-8 cen">#}
{#  <a class="navbar-brand" href="#">CRM</a>#}
{#        <div class="collapse navbar-collapse" id="navbarsExample09">#}
{#    <ul class="navbar-nav mr-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="/crm/home">首页 <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/crm/orderlist">订单查询</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/crm/createorder">订单创建</a>#}
{#      </li>#}
{#    </ul>#}
{#        </div>#}
{#      </nav>#}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
</nav>