{% extends 'base.html' %}

{% block content %}
    {% include "contenthead.html"  with title="客户订单创建" %}
    <div class="row">
        <div class="col-7">
            <div>
                {{ factory_select.fn.label }}{{ factory_select.fn }}
                <button type="button" class="btn btn-sm btn-primary" onclick="addProduct()">添加型号</button>
            </div>
            <h6>订单列表</h6>
            <table border="1" id="listTb" class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th>型号</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="listTbtbody">
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <h4>创建订单</h4>
                </div>
                <span></span>
                <div class="col-4">
                    <button type="button" class="btn btn-sm btn-success" onclick="AjaxPost()">提交数据</button>

                </div>
            </div>

            <form action="createorder" method="post" id="f1">
                {% csrf_token %}
                <p>{{ formObj.ordernum.label }}{{ formObj.ordernum }}{{ formObj.errors.ordernum.0 }}</p>
                <p>{{ formObj.ocn_id.label }}{{ formObj.ocn_id }}{{ formObj.errors.ocn_id.0 }}</p>
                <p>{{ formObj.ordervalue.label }}{{ formObj.ordervalue }}{{ formObj.errors.ordervalue.0 }}</p>
                <p>{{ formObj.arrears.label }}{{ formObj.arrears }}{{ formObj.errors.arrears.0 }}</p>
                <p>{{ formObj.on_id.label }}{{ formObj.on_id }}{{ formObj.errors.on_id.0 }}</p>
                <p>{{ formObj.os_id.label }}{{ formObj.os_id }}{{ formObj.errors.os_id.0 }}</p>
                <p>{{ formObj.comment.label }}{{ formObj.comment }}{{ formObj.errors.comment.0 }}</p>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function (){
            $("#id_ordernum").val(getIntTime())
        });

        function deleteProduct(dom) {
            $(dom).parent().parent().remove();
            calcordervalue()
        }

        $('#listTbtbody').on('input propertychange', function () {
            calcordervalue()
        })

        function calcordervalue() {
            let tbody = $('#listTbtbody')
            let total = 0
            for (let i of tbody.children()) {
                let number = $(i).children()[1].firstChild.value
                let value = $(i).children()[2].firstChild.value
                total += number * value
            }
            $('#id_ordervalue').val(total)
        }

        function addProduct() {
            let listTbtbody = $('#listTbtbody')
            let fn_id = $("#id_fn").val()
            $.ajax({
                url: "/crm/getpms",
                method: "POST",
                data: {"fn_id": fn_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (arg) {
                    let res = JSON.parse(arg)
                    console.log(arg)
                    let listTbtbody = $("#listTbtbody")
                    let select = '<select  class="form-control" name="pms">'
                    for (let i of res["pms"]) {
                        select += `<option value="${i["id"]}">${i["model"]}</option>`
                    }
                    listTbtbody.append(
                        `<tr><td>${select}</select></td>
    <td><input class="form-control number" style="width: 70px" type="number" value=1></td>
    <td><input class="form-control value" style="width: 70%" type="number" value=0></td>
    <td><a onclick="deleteProduct(this)">删除</a></td></tr>`
                    )
                },
            })
        }

        function getTbList() {
            let tbody = $('#listTbtbody')
            let list = []
            for (let i  of tbody.children()) {
                let number = $(i).children()[1].firstChild.value
                let pm_id = $(i).children()[0].firstChild.value
                list.push({"productnum": number, "pm_id": pm_id})
            }
            return list
        }

        function clearErr() {
            let e = $(".err")
            for (let i = 0; i < e.length; i++) {
                e[i].remove()
            }
        }

        function AjaxPost() {
            clearErr()
            let data = $("#f1").serialize()
            let list = getTbList()
            if (list.length===0){
                toastr.warning("提醒：产品列表不能为空")
                return
            }
            data += "&orderList=" + JSON.stringify(getTbList())
            console.log(data)
            $.ajax({
                url: "/crm/createorder",
                method: "POST",
                data: data,
                success: function (arg) {
                    let m = JSON.parse(arg)
                    if (m.status === 'err') {
                        for (let i in m.err) {
                            let tmp = m.err[i]
                            $(`input[name|=${i}`).after(`<span class="err">${tmp}</span>`)
                        }
                        toastr.error("失败了：" + m.msg)
                    } else {
                        toastr.success("采购订单创建成功!")
                    }
                },
            })
        }
    </script>
{% endblock script %}

