<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1" id="listTb">
        </table>
            <div >
                <div id="searchOrder">
                 <label for="search">search</label>
                    <select id="condition">
                        {% for k,v in selectOptions.items %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <div>
            <button onclick="addCondition()">添加条件</button>
            <a href="#" onclick="searchOrders()">search</a>
        </div>
        <div id="searchinput">

        </div>

        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script>
        function deleteProduct(dom) {
            $(dom).parent().remove();
        }
        function getConditions() {
            let doms = $("#searchinput > div")
            let obj = {"select":null,"input":null}
            let select = {}
            let input = {}
            for (let i = 0; i <doms.length ; i++) {
                let tmp = doms[i].children
                let val = tmp[1].value
                let name = tmp[1].name
                if (tmp[1].tagName === 'SELECT'){
                    let v = parseInt(val)
                    if (name in select) {
                        select[name].push(v)
                    }else {
                        select[name] = [v]
                    }
                }else if(tmp[1].name === "comment"){
                    input[name] = val
                }
                obj.select=select
                obj.input=input
            }
            return obj
        }
        function getConditions2() {
            let doms = $("#searchinput > div")
            let obj = {}
            for (let i = 0; i <doms.length ; i++) {
                let tmp = doms[i].children
                let val = tmp[1].value
                let name = tmp[1].name
                let v =tmp[1].tagName === 'SELECT'?parseInt(val):val
                if (name in obj) {
                    obj[name].push(v)
                }else {
                    obj[name] = [v]
                }
            }
            console.log(obj)
            return obj
        }
        function makeColums(data) {
                        {#console.log(data)#}
            let tb = $("#listTb")
            tb.empty()
            let trs = ''
            let t = ''
            for(let key in data.tablehead){
                t += `<td>${data.tablehead[key]}</td>`
            }
            trs+=`<tr>${t}</tr>`
            for (let d of data.data) {
                let t = ''
                for(let key in d){
                    t += `<th>${d[key]}</th>`
                }
                trs+=`<tr>${t}</tr>`
            }
            tb.append(trs)
        }
        function searchOrders() {
            getConditions2()
            let data = {"data":JSON.stringify(getConditions2()),csrfmiddlewaretoken:'{{ csrf_token }}'}
            $.ajax({
                url: "/crm/orderlist",
                method: "POST",
                data: data,
                success: function (arg) {
                    makeColums(JSON.parse(arg))
                }})
        }
        function addCondition() {
            let c = $('#condition option:selected')
            let key = c.val()
            let text = c.text()
            let div = document.getElementById("searchinput")
            let t = ''
            if (key === "ordernum"||key === "ordervalue"||key === "arrears"||key === "comment") {
                t = createHtml(`<input name="${key}">`, text)
                $(div).append(t)
            }else {
                {#getSelect(key,text)#}
                let promise = new Promise(function(resolve){
                    resolve()
                });
                promise.then(function(){
                    $.ajax({
                        url: "/crm/getselect",
                        method: "POST",
                        data: {"key":key,csrfmiddlewaretoken:'{{ csrf_token }}'},
                        success: function (arg) {
                            t = getSelectCallback(JSON.parse(arg).data,text,key)
                            $(div).append(t)
                        }
                    })
                })
            }
        }
        function getSelectCallback(arg,text,key) {
            let options = ''
            for (let i = 0; i <arg.length ; i++) {
                options+=`<option value="${arg[i].id}">${arg[i].name}</option>`
            }
            let select = `<select name="${key}">` +options+ '</select>'
            let t = createHtml(select,text)
            return t
        }
        function createHtml(dom,text) {
            let t = '<div>' +
                `<label>${text}</label>${dom}<a href="#" onclick="deleteProduct(this)">删除</a>` +
                '</div>'
            return t
        }

    </script>
</body>
</html>