{% extends 'base.html' %}
{% block content %}
    {% include "contenthead.html"  with title="订单查询" %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div id="searchOrder" class="col-6">
                    <label for="search" class="col-form-label-sm">查询条件</label>
                    <select id="condition" class="form-control-sm">
                        {% for k,v in selectOptions.items %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn-sm btn-success" onclick="addCondition()">添加条件</button>
                </div>
                <div class="col-6">
                    <button class="btn-sm btn-primary" onclick="searchOrders()">开始搜索</button>
                </div>
                <div id="searchinput">
                </div>
            </div>
        </div>
        <div class="col-12" id="listTb">

        </div>
    </div>
    {% include "crm/motal.html" with title="订单详情" %}
{% endblock %}

{% block script %}
    <script>

        function deleteProduct(dom) {
            $(dom).parent().remove();
        }

        function getConditions() {
            let doms = $("#searchinput > div")
            let obj = {"select": null, "input": null}
            let select = {}
            let input = {}
            for (let i = 0; i < doms.length; i++) {
                let tmp = doms[i].children
                let val = tmp[1].value
                let name = tmp[1].name
                if (tmp[1].tagName === 'SELECT') {
                    let v = parseInt(val)
                    if (name in select) {
                        select[name].push(v)
                    } else {
                        select[name] = [v]
                    }
                } else if (tmp[1].name === "comment") {
                    input[name] = val
                } else if (tmp[1].name === "addtime") {
                }
                obj.select = select
                obj.input = input
            }
            return obj
        }

        function getConditions2() {
            let doms = $("#searchinput > div")
            let obj = {}
            for (let i = 0; i < doms.length; i++) {
                let tmp = doms[i].children
                let v = tmp[1].value
                let name = tmp[1].name
                if (tmp[1].type === 'datetime-local' || name === "ordervalue" || name === "arrears") {
                    obj[name] = [tmp[1].value, tmp[3].value]
                } else {
                    if (name in obj) {
                        obj[name].push(v)
                    } else {
                        obj[name] = [v]
                    }
                }
            }
            return obj
        }

        function makeColums(id, data) {
            let tb = $(id)
            tb.empty()
            let thead = ''
            let tbody = ''
            let t = ''
            for (let key in data.tablehead) {
                t += `<th>${data.tablehead[key]}</th>`
            }
            thead += `<thead class="thead-light"><tr>${t}<th>操作</th></tr></thead>`
            for (let d of data.data) {
                t = ''
                for (let key in d) {
                    t += `<td >${d[key]}</td>`
                }
                tbody += `<tr>${t}<td><a href="#" onclick="showOrderDetail(this)">详细</a>|<a href="#">编辑</a></td></tr>`
            }
            tb.append(`<table class="table table-hover table-bordered">${thead}<tbody class="">${tbody}</tbody></table>`)
        }

        function showOrderDetail(e) {
            let orderNum = $(e).parent().parent().children().first()[0].innerText
            let data = {"orderNum": orderNum, csrfmiddlewaretoken: '{{ csrf_token }}'}
            $.ajax({
                url: "/crm/orderlistdetail",
                method: "POST",
                data: data,
                success: function (arg) {
                    makeColums('#modalbody', JSON.parse(arg))
                    $('#mymodal').modal('show')
                }
            })
        }

        function searchOrders() {
            let data = {"data": JSON.stringify(getConditions2()), csrfmiddlewaretoken: '{{ csrf_token }}'}
            $.ajax({
                url: "/crm/orderlist",
                method: "POST",
                data: data,
                success: function (arg) {
                    makeColums("#listTb", JSON.parse(arg))
                }
            })
        }

        function formatDateTime(d) {
            let _M = d.getMonth() + 1
            let M = _M < 10 ? '0' + _M : _M
            let D = d.getDate() < 10 ? '0' + d.getDate() : d.getDate()
            let H = d.getHours() < 10 ? '0' + d.getHours() : d.getHours()
            let m = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes()
            return d.getFullYear() + '-' + M + '-' + D + 'T' + H + ':' + m
        }

        function addCondition() {
            let c = $('#condition option:selected')
            let key = c.val()
            let text = c.text()
            let div = document.getElementById("searchinput")
            let t = ''
            let now = formatDateTime(new Date())
            if (key === "comment" || key === "ordernum") {
                t = createHtml(`<label>${text}</label><input name="${key}">`)
                $(div).append(t)
            } else if (key === "addtime") {
                t = createHtml(
                    `<label>${text}从</label><input type="datetime-local" value="${now}" name="${key}">
<label>到</label><input type="datetime-local" value="${now}" name="${key}">`
                )
                $(div).append(t)
            } else if (key === "ordervalue" || key === "arrears") {
                t = createHtml(
                    `<label>${text}从</label><input type="number" value="${now}" name="${key}">
<label>到</label><input type="number" value="${now}" name="${key}">`
                )
                $(div).append(t)
            } else {
                $.ajax({
                    url: "/crm/getselect",
                    method: "POST",
                    data: {"key": key, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (arg) {
                        t = getSelectCallback(JSON.parse(arg).data, text, key)
                        $(div).append(t)
                    }
                })
            }
        }

        function getSelectCallback(arg, text, key) {
            let options = ''
            for (let i = 0; i < arg.length; i++) {
                options += `<option value="${arg[i].id}">${arg[i].name}</option>`
            }
            let select = `<label>${text}</label><select name="${key}">` + options + '</select>'
            let t = createHtml(select)
            return t
        }

        function createHtml(dom) {
            let t = '<div>' +
                `${dom}<a href="#" onclick="deleteProduct(this)">删除</a>` +
                '</div>'
            return t
        }
    </script>
{% endblock script %}